extends layout
block content
  div(class="productCategoryContain")
    div(class="categoryName container-fluid")= category
    div(class="products row no-gutters")
      each product in product_list
        div(class="product col-lg-3 col-md-4 col-sm-6")
          div(class="productImage")
            img(class="w-100 p-3", src="/image/"+product.images, alt=product.name)
          div(class="productName")= product.name
          h6(class="card-subtitle mb-2 text-muted ml-4")= "Initial Bid Rs " + product.initial_bid
          h6(class="card-subtitle mb-2 text-muted ml-4")= "Highest bid Rs " + product.highest_bid
          div(class="bidButton")
            a(href=product.url, class="btn btn-primary") Place Bid